<div>
    <h2 id="page-heading">
        <span jhiTranslate="bluepersApp.speler.home.title">Spelers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-speler" [routerLink]="['/speler/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bluepersApp.speler.home.createLabel">
            Create new Speler
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="spelers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voornaam"><span jhiTranslate="bluepersApp.speler.voornaam">Voornaam</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tussenvoegsel"><span jhiTranslate="bluepersApp.speler.tussenvoegsel">Tussenvoegsel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achternaam"><span jhiTranslate="bluepersApp.speler.achternaam">Achternaam</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rugnummer"><span jhiTranslate="bluepersApp.speler.rugnummer">Rugnummer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="positie"><span jhiTranslate="bluepersApp.speler.positie">Positie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="geboorteDatum"><span jhiTranslate="bluepersApp.speler.geboorteDatum">Geboorte Datum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="debuut"><span jhiTranslate="bluepersApp.speler.debuut">Debuut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bijzonderheden"><span jhiTranslate="bluepersApp.speler.bijzonderheden">Bijzonderheden</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamId"><span jhiTranslate="bluepersApp.speler.team">Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speler of spelers ;trackBy: trackId">
                <td><a [routerLink]="['/speler', speler.id, 'view' ]">{{speler.id}}</a></td>
                <td>{{speler.voornaam}}</td>
                <td>{{speler.tussenvoegsel}}</td>
                <td>{{speler.achternaam}}</td>
                <td>{{speler.rugnummer}}</td>
                <td jhiTranslate="{{'bluepersApp.Positie.' + speler.positie}}">{{speler.positie}}</td>
                <td>{{speler.geboorteDatum | date:'mediumDate'}}</td>
                <td>{{speler.debuut | date:'mediumDate'}}</td>
                <td>{{speler.bijzonderheden}}</td>
                <td>
                    <div *ngIf="speler.teamId">
                        <a [routerLink]="['../team', speler.teamId , 'view' ]" >{{speler.teamId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/speler', speler.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/speler', speler.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speler/'+ speler.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="spelers && spelers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
