<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-competitie-heading" jhiTranslate="bluepersApp.competitie.home.createOrEditLabel">Create or edit a Competitie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!competitie.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="competitie.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bluepersApp.competitie.seizoen" for="field_seizoen">Seizoen</label>
                    <input type="text" class="form-control" name="seizoen" id="field_seizoen"
                        [(ngModel)]="competitie.seizoen" required minlength="9" maxlength="9" pattern="(\d{4}-\d{4})"/>
                    <div [hidden]="!(editForm.controls.seizoen?.dirty && editForm.controls.seizoen?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.seizoen?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.seizoen?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 9 }">
                        This field is required to be at least 9 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.seizoen?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 9 }">
                        This field cannot be longer than 9 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.seizoen?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Seizoen' }">
                            This field should follow pattern for "Seizoen".
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
