<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-wedstrijd-heading" jhiTranslate="bluepersApp.wedstrijd.home.createOrEditLabel">Create or edit a Wedstrijd</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!wedstrijd.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="wedstrijd.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bluepersApp.wedstrijd.datum" for="field_datum">Datum</label>
                    <div class="input-group">
                        <input id="field_datum" type="text" class="form-control" name="datum" ngbDatepicker  #datumDp="ngbDatepicker" [(ngModel)]="wedstrijd.datum"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datumDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datum?.dirty && editForm.controls.datum?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datum?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bluepersApp.wedstrijd.tijd" for="field_tijd">Tijd</label>
                    <div class="input-group">
                        <input id="field_tijd" type="text" class="form-control" name="tijd" ngbDatepicker  #tijdDp="ngbDatepicker" [(ngModel)]="wedstrijd.tijd"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tijdDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.tijd?.dirty && editForm.controls.tijd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tijd?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bluepersApp.wedstrijd.plaats" for="field_plaats">Plaats</label>
                    <input type="text" class="form-control" name="plaats" id="field_plaats"
                        [(ngModel)]="wedstrijd.plaats" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bluepersApp.wedstrijd.competitie" for="field_competitie">Competitie</label>
                    <select class="form-control" id="field_competitie" name="competitie" [(ngModel)]="wedstrijd.competitieId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competitieOption.id" *ngFor="let competitieOption of competities; trackBy: trackCompetitieById">{{competitieOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
